* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --blue: #46B1DE;
}
body {
    position: relative;
    max-width: 1400px;
    min-height: auto;
    margin: 0px auto;
    
}
.backgraund {
    background-image: url(../img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: inherit;
    max-width: 1400px;
    min-height: 665px;
    margin: 0px auto;
}
header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1180px;
    width: 100%;
    height: 91px;   
    top: 60px;
    left: 50%;
    transform:translate(-50%);
}
 a { 
    color: #000000;
}
.logo {
    display: flex;
    align-items: center;
}
.logo p {
    font-family: 'Sofia Sans';
    font-weight: 400px;
    font-size: 38px;
    text-transform: uppercase;
    line-height: 0.9;
    color: var(--blue);
    padding-left: 20px;
}
.logo p span {
    font-weight: 400px;
    font-size: 26px;
    text-transform: lowercase;
    color: var(--blue);
}
.nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
}
.nav a:hover { 
    color: var(--blue);
}
.nav > li + li {
    margin-right: 60px;
}
.nav > li {
    margin-right: 60px;
}
.nav > li + li + li {
    margin-right: 0px;
}
.tel {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
}
.tel a img {
    margin-right: 5px;
}
.tel > a + a {
    margin-right: 23px;
}
.lang > a {
    padding-right: 13px;
    border-right: 1px solid black;
    font-weight: 600;
}
.lang > a + a {
    font-weight: 400;
    padding-right: 0px;
    padding-left: 13px;
    border: none;
}
.container {
    position: absolute;
    max-width: 1180px;
    width: 98%;
    left: 50%;
    transform:translate(-50%);
    top: 185px;
 }
 h1 {
    padding: 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 52px;
    letter-spacing: 10%;
 }
 h1 span {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 52px;
    color: var(--blue);
 }
 .box-ledy {
    top: -52px;
    right: 0px;
    position: absolute;
    z-index: -2;
 }
 .container p {
    margin-top: 30px;
    line-height: 22px;
 }
 .box-button {
    display: flex;
    max-width: 480px;
    justify-content: space-between;
    margin-top: 48px;
 }
 .call, .service {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%); 
    width: 180px;
    height: 60px; 
    box-shadow: 0px 2px 10px #46B1DE;
    border-radius: 8px;
 }
 .service {
    color: var(--blue);
    background: #FFFFFF;
    border: 1px solid #DDE0DC;  
 }
 .container-second {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 980px;
    min-height: 120px;
    margin: 0px auto;
    margin-top: 48px;
    margin-top: 54px;
    padding: 0;
 }
 .container-second div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 280px;
    height: 120px;
    background: #FFFFFF; 
    border: 1px solid #d8e1e1; 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
 }  
 .container-second div p {
    margin: 0;
    text-transform: lowercase;
 }
 .container .container-second div .number {
    font-size: 65px;
    color: #46b1de;
 }
 h2 {
    margin-top: 150px;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
 }
 h2 span {
    font-size: 34px;
    font-weight: 600px;
    color: var(--blue);
    line-height: 44px;
 }
 .container-centr { 
    position: absolute;
    max-width: 1180px;
    width: 98%;
    left: 50%;
    transform:translate(-50%);
    z-index: -1;
 }
 .container-centr p {
    text-align: center;
    margin-top: 5px;
 }
 .box-master {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #a1c7d4;
    padding: 0px 13px;
    margin: 0px auto;
    margin-top: 50px;
    max-width: 1020px;
    min-height: 396px;
    border-radius: 12px;
}
.box-master div {
    display: grid;
    align-content: center;
    justify-content: space-evenly;
    width: 300px;
    height: 176px;
    row-gap: 0px;
    background-color: #FFFFFF;
    border-radius: 8px;
    top: 5px;
}
.box-master div p {
    display: flex;
    height: 40px;
    text-align: left;
}
.box-master div div {
    display: flex;
    justify-content: flex-start;
    width: 240px;
    height: 50px;
    border: none;
}
.box-master div div > p {
    font-size: 37px;
    color: var(--blue);
}
.box-master div > p + p {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 10px;
}
.box-master div > p + p + p {
    font-size: 15px;
    text-transform: none;
    color: #000000;
}
.box-6 {
    order: 5;
}
.box-4 {
    order: 4;
}
h3 {
    margin-top: 30px;
    margin-bottom: 7px;
    font-size: 32px;
    font-weight: 500px;
    text-transform: uppercase;
}
.content-box .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: url(../img/Rectangle\ 35.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 150px;
    left: 50%;
    transform: translate(-50%);
    top: 105px;
    border: 1px solid #000000;
}
.content h2 {
    margin-top: 0px;
    margin-bottom: 50px;
}
.content {
    position: absolute;
    text-align: center;
    margin-top:770px;
    align-items: center;
    left: 0px;
    right: 0px;
    z-index: -3;
}
.content-box {
    max-width: 970px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
}
.content-box h4 {
    font-size: 20px;
    color: var(--blue);
    margin-bottom: 5px;
}
.content-box div {
    width: 350px;
    height: 120px;
}
.box_1, .box_5 {
    text-align: right;
}
.box_2, .box_6 {
    text-align: left;
}
.box_3 {
    text-align: right;
    padding-right: 6%;
}
.box_4 {
    text-align: left;
    padding-left: 6%;
}
.box_1 {
    padding-right: 2%;
}
.box_2 {
    padding-left: 2%;
}
.content-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 480px;
    min-height: 86px;
    margin: 0px auto;
    margin-top: 60px;
    color: var(--blue);
}
.element {
    display: grid;
    grid-template-columns: 70px 70px;
    grid-template-rows: 81px 81px 81px;
    align-items: center;
    justify-items: center;
    align-content: space-between;
    justify-content: space-between;
    width: 320px;
    height: 270px;
    position: absolute;
    left: 50%;
    top: 120px;
    bottom: 0px;
    transform: translate(-50%);
}
.element div {
    width: auto;
    height: auto;
}
.content .element p {
    color: #fff;
    padding-top: 2px;
    background:#46B1DE;
    width: 24px;
    height: 24px;
    border-radius: 50px;
}
.element-1 {
    margin-right: 50px;
}
.element-2{
    margin-left: 50px;
}
.input-block {
    max-width: 1180px;
    position: absolute;
    margin-top: 1500px;
    text-align: center;
    left: 50%;
    transform:translate(-50%);
}
.input-box {
    padding-top: 8px;
    padding-bottom: 10px;
    width: 845px;
    height: 265px;
    background: #FFFFFF;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0px auto;
}
input {
    width: 233px;
    height: 57px;
    border-radius: 8px;
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    text-align: left;
    font-size: 19px;
    margin: 0px auto;
    padding: 0px 50px;
    border: none;
    background: #d9d9d9;
}
input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.name, .mail, .button {
    display: inline-block;
}
.button {
    width: 180px;
    height: 57px;
    color: #FFFFFF;
    background-color: var(--blue);
    text-align: center;
}
.button:hover {
    opacity: 0.9;
    cursor: pointer;
}
.name {
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 15px;
    margin-right: 70px;
}
.mail {
    background-image: url(../img/phone-in-talk.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 15px;
    margin-right: 70px;
}
.images {
    position: absolute;
    max-width: 1180px;
    width: 98%;
    left: 50%;
    transform:translate(-50%); 
    margin-top: 1850px;
}
.images-block {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    flex-wrap: wrap;
    max-width: 980px;
    min-height: 128px;
}
footer {
    position: absolute;
    margin-top: 2070px;
    max-width: 1400px;
    width: 100%;
    min-height: 400px;
    background-position: right;
    background: linear-gradient(91.75deg, #A1C7D4 18.06%, #0680AA 98.16%);
} 
.footer {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1180px;
    z-index: -4;
}
.box-left {
    margin-top: 60px;
}
.box-menu {
    align-items: flex-end;
}
.logo-footer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.logo-footer a p {
    font-family: 'Sofia Sans';
    text-transform: uppercase;
    font-size: 39px;
    line-height: 30px;
}
.logo-footer > a + a p {
    color: #0f2d4a;;
}
.logo-footer > a + a span {
    color: #0f2d4a;
    font-size: 26px;
    font-family: 'Sofia Sans';
    text-transform: lowercase;
}

.menu-footer ul {
    list-style: none;
    margin-right: 100px;
    text-decoration: none;
}
.menu-footer ul li a {
    color: #0f2d4a;
    font-size: 20px;
}  
.menu-footer > a  {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}
.menu-footer > a:active {
    font-weight: 800;
}
.menu-footer > a + a {
    border-left: 1px solid #000000;
    padding-left: 5px;
    font-weight: 400;
}
.menu-footer > a + a:active {
    font-weight: 800;
}
.box-left .box-menu {
    display: flex;
}
.contacts-footer {
    margin-top: 60px;
    line-height: 30px;
    margin-right: 6%;
}
.team h5 {
    color: #0f2d4a;
    font-size: 20px;
}
.team p {
    color: #0f2d4a;
    font-size: 20px;
}
.contacts-footer h4 {
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    color: white;
    letter-spacing: 2px;
}
.contacts-footer .tel {
    display: flex;
    align-items: center;
    justify-content: start;
}
.contacts-footer .social {
    max-width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts-footer .insta {
    display: flex;
    align-items: center;
}
.contacts-footer .email {
    display: flex;
    align-items: center;
}
.contacts-footer a img {
    margin-right: 25px;
}
.contacts-footer .copiryght {
    margin-top: 20px;
    margin-left: 210px;
    font-size: 13px;
    font-weight: 400;
}
.contacts-footer p {
    color: white;
    font-style: normal;
}
@media (max-width: 767px){
    .container-second {
        flex-direction: column;
        align-content: center;
    }
    .container-second > div {
        margin: 10px 0px;
    }
    h2 {
        margin-top: 400px;
    }
    .box-master {
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
    }
    .content {
        margin-top: 1150px;
    }
    .content-box .circle {
        opacity: 50%;
        border: none;
    }
    .element {
        display: none;
    }
    .input-block {
        margin-top: 1860px;
    }
    .images {
        margin-top: 2215px;
    }
    .images-block {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    footer {
        margin-top: 2680px;
    }
    .input-box {
        width: 490px;
        height: 300px;
    }
    .name {
        margin-right: 0px;
    }
    .mail {
        margin-right: 0px;
    }
    .button {
        margin-top: 10px;
    }
}
@media (max-width: 480px) {
    .nav {
        display: none;
    }
    .content {
        display: none;
    }
    .input-block {
        margin-top: 1870px;
    }
    .input-box {
        width: 350px;
        height: 410px;
    }
    .images {
        margin-top: 2335px;
    }
    footer {
        margin-top: 2800px;
    }
    header {
        max-width: 300px;
        top: 30px;
        height: 40px;
    }
    .nav {
        display: none;
    }
    .lang {
        display: none;
    }
    .logo img {
        width: 28px;
        height: 31px;
    }
    .logo p {
        font-size: 16px;
        padding-left: 5px;
    }
    .logo p span {
        font-size: 11px;
    }
    .logo {
        align-items: flex-start;
    }
    .tel {
        margin: 0px;
    }
    .tel a {
        font-size: 12px;
        align-items: flex-end;
        margin-right: 0px;
    }
    .tel > a + a {
        margin: 0;
    }
    .tel img {
        width: 12px;
        height: 12px;
        margin-left: 20px;
    }
    .container {
        top: 115px;
    }
    h1 {
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
    }
    h1 span {
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
    }
    .container p {
        margin: 0px auto;
        width: 280px;
        margin-top: 5px;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
    .box-button {
        margin: 0px auto;
        margin-top: 5px;
        max-width: 300px;
    }
    .call, .service {
        width: 100px;
        height: 35px;
        font-size: 14px;
        font-weight: 600px;
        border-radius: 4.5px;
        box-shadow: 0px 1.14444px 5.72222px #46B1DE;
    }
    .box-ledy {
        width: 208px;
        height: 199px;
        top: 254px;
        right: 64px;
    }
    .container-second {
        margin-top: 290px;
    }
    .backgraund {
        min-height: 568px;
    }
    h2 {
        margin-top: 500px;
        font-size: 18px;
    }
    h2 span {
        font-size: 18px;
    }
    .container-centr {
        max-width: 328px;
    }
    p {
        font-size: 12px;
    }
    footer {
        height: 568px;
        background: linear-gradient(180deg, #A1C7D4 0%, #0680AA 100%);
    }
    .logo-footer > a + a p {
        font-size: 27px;
        line-height: 24px;
    }
    .logo-footer > a + a span {
        font-size: 19px;
    }
    .logo-footer a img {
        width: 50px;
        height: 56px;
    }
    .logo-footer {
        justify-content: left;
        margin-bottom: 0px;
    }
    .box-left {
        width: 300px;
        margin-top: 30px;
        margin: 30px auto 0px;
    }
    .menu-footer ul li a  {
        font-size: 14px;
    }
    .menu-footer > a {
        font-size: 14px;
    }
    .team h5 {
        font-size: 14px;
    }
    .team p {
        font-size: 14px;
   }
   .contacts-footer {
    margin: 0px auto;
    width: 300px;
    margin-top: 40px;
   }
   .contacts-footer h4 {
    font-size: 21px;
   }
   .contacts-footer p {
    font-size: 17px;
    font-weight: 400;
   }
   .contacts-footer .copiryght {
    margin-left: 190px;
    margin-top: 20px;
   }
   .contacts-footer a img {
    margin-left: 0px;
    width: 20px;
    height: 20px;
   }
   h3 {
    font-size: 18px;
   }
   input {
    font-size: 12px;
   }
   .name {
    margin-bottom: 10px;
   }
}
